[data]
    # bash = false
    # bitwarden = true
    # deno = true
    # firefox = true
    # nvm = true
    # opam = true
    # rbenv = true
    # rustup = true
    # vscode = true
    # zsh = true

[warnings]
    configFileTemplateHasChanged = false

# [data.ssh.host]
