#
# ~/.bash_profile
#

[[ -f ~/.profile ]] && . ~/.profile

[[ -f ~/.bashrc ]] && . ~/.bashrc

{{ if and .opam (lookPath "opam") }}
{{ $opamroot := or (output "bash" "-c" "printenv OPAMROOT || true" | trim) (joinPath .chezmoi.homeDir ".opam") }}
{{ $opamInit := joinPath $opamroot "opam-init" "init.sh" }}
# opam configuration
test -r {{ $opamInit }} && . {{ $opamInit }} > /dev/null 2> /dev/null || true
{{ end }}

{{ if .rustup }}
. "$HOME/.cargo/env"
{{ end }}

{{ $config := joinPath .chezmoi.configFile ".." ".bash_profile" }}
{{ if glob $config }}
{{ include $config }}
{{ end }}
