{{ $destDir := or .chezmoi.config.destDir .chezmoi.homeDir -}}

export PATH="$HOME/.local/bin:$PATH"

export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"

{{ if .bitwarden }}
export SSH_AUTH_SOCK="$HOME/.bitwarden-ssh-agent.sock"
{{ end }}

{{ if .deno }}
. "{{ joinPath $destDir ".deno" "env" }}"
{{ end }}

{{ if .rustup }}
. "$HOME/.cargo/env"
{{ end }}
