#
# ~/.bash_profile
#

export PATH="$HOME/.local/bin:$PATH"

export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"

[[ -f ~/.bashrc ]] && . ~/.bashrc

{{ if and .opam (lookPath "opam") }}
{{ $opamroot := or (output "bash" "-c" "printenv OPAMROOT || true" | trim) (joinPath .chezmoi.homeDir ".opam") }}
{{ $opamInit := joinPath $opamroot "opam-init" "init.sh" }}
# opam configuration
test -r {{ $opamInit }} && . {{ $opamInit }} > /dev/null 2> /dev/null || true
{{ end }}

{{ if .rustup }}
. "$HOME/.cargo/env"
{{ end }}

{{ $config := joinPath .chezmoi.configFile ".." ".bash_profile" }}
{{ if glob $config }}
{{ include $config }}
{{ end }}
