{{ if and .bitwarden .ssh -}}
{{ $shebang := false -}}

{{ $destDir := or .chezmoi.config.destDir .chezmoi.homeDir -}}

{{ if not (glob ".ssh/config.d") -}}
{{ if not $shebang -}}
{{ $shebang = true -}}
#!/usr/bin/env bash
{{ end }}
mkdir -p "{{ joinPath $destDir ".ssh/config.d" }}"
{{ end -}}

{{ range $host, $element := .ssh -}}
{{ $pubKeyPath := joinPath $destDir ".ssh" (printf "%s.pub" $host) -}}
{{ if not (glob $pubKeyPath) -}}
{{ if not $shebang -}}
{{ $shebang = true -}}
#!/usr/bin/env bash
{{ end }}
(umask 077; echo "{{ printf "%s %s" (bitwarden "item" (printf "ssh://%s" $host)).sshKey.publicKey $host }}" > "{{ $pubKeyPath }}")
{{ end -}}
{{ $configPath := joinPath $destDir ".ssh" "config.d" $host -}}
{{ if not (glob $configPath) -}}
{{ if not $shebang -}}
{{ $shebang = true -}}
#!/usr/bin/env bash
{{ end }}
cat << '{{ $host }}' > "{{ $configPath }}"
Host "{{ $host }}"
    IdentityFile "{{ $pubKeyPath }}"
{{ $bitwardenFields := bitwardenFields "item" (printf "ssh://%s" $host) }}
{{ range $key, $value := $element }}
{{ if not (index $bitwardenFields (camelcase $key)) }}
    {{ camelcase $key }} "{{ $value }}"
{{ end }}
{{ end }}
{{ range $key, $field := $bitwardenFields }}
    {{ $key }} "{{ $field.value }}"
{{ end }}
{{ $host }}
{{ end -}}
{{ end -}}
{{ end -}}
